.sign-out-btn {
  width: 100px;
  height: 70%;
  margin: auto 10px;
  border: 1px solid #6a926c;
  border-radius: 60px;
  background: #386e3b;
  color: #e6ede6;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  padding: 3px;
  outline: none;
}
.sign-out-btn:active {
  background: #6a926c;
  outline: none;
}
.sign-out-btn:hover {
  background: #6a926c;
}
