.header-bar {
  height: 50px;
  background-color: #386e3b;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.75);
  padding: 5px;
}
h1 {
  padding: 0;
  margin: 0;
}
.website-name {
  font-family: "Lobster", cursive;
  color: white;
  font-weight: lighter;
  margin-left: 40px;
}
.log-in-form {
  position: fixed;
  right: 150px;
  top: 150px;
  border: 1px solid #cddbce;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  padding: 90px;
}
.log-in-label {
  font-size: 16px;
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
}
.log-in-input {
  font-size: 18px;
  border: 1px solid #cddbce;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 10px;
}
.log-in-input:hover {
  border: 1px solid black;
}
.log-in-input:focus {
  outline: none;
  border-color: black;
}
.log-in-input::placeholder {
  font-size: 15px;
}
.log-in-btn {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
  background: #386e3b;
  color: white;
  border: 1px solid #386e3b;
  border-radius: 30px;
  font-family: "Lato", sans-serif;
  outline: none;
}
.log-in-btn:active {
  outline: none;
  background: #518054;
}
.sign-up-option {
  font-size: 13px;
  font-family: "Lato", sans-serif;
  text-align: right;
}
.sign-up-option a {
  text-decoration: none;
  font-weight: bold;
  color: #386e3b;
  font-family: "Lato", sans-serif;
}
.log-in-btn:disabled {
  background-color: #537555;
}
.error-message {
  max-width: 220px;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  word-break: keep-all;
}
